<div class="box">
  <h1>Where are my colleagues today?</h1>
    <div class="centered-box">
      <div class="card-trip-grid">
          <div class="card-trip-infoss">
            <div>
              <h5>Office Berlin 🐻 </h5>
              <% @berlin_office.take(5).each do |user| %>
              <%= cl_image_tag user.photo.key, width: 40,  height: 40, crop: :fill, class: "avatar", data:{toggle:"tooltip", placement:"top"}, title: user.full_name %>
              <% end %>
               <button type="button" class="btn toggle_popover"> + </button>
            </div>
        </div>
        <%= render :partial => 'popover', locals: { berlin_office: @berlin_office }%>
          <div class="card-trip-infoss">
            <div>
              <h5>Home Office 💻 </h5>
              <% if @home_office.empty? %>
               <p> No one is working at home! </p>
              <% else %>
                <% @home_office.take(5).each do |user| %>
                <%= cl_image_tag user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar",data:{toggle:"tooltip", placement:"top"}, title: user.full_name %>
                <% end %>
              <% end %>
          </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Kölln Office ⛪️ </h5>
              <% @kölln_office.take(5).each do |user| %>
              <%= cl_image_tag user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar", data:{toggle:"tooltip", placement:"top"}, title: user.full_name  %>
              <%  end %>
            </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Holiday 🏝 </h5>
              <% @holiday.take(5).each do |user| %>
              <%= cl_image_tag user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar", data:{toggle:"tooltip", placement:"top"}, title: user.full_name  %>
              <%  end %>
          </div>
        </div>
          <div class="card-trip-infoss">
            <div>
              <h5>Business trip ✈️ </h5>
              <% @business_trip.take(5).each do |user| %>
              <%= cl_image_tag user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar", data:{toggle:"tooltip", placement:"top"}, title: user.full_name  %>
              <%  end %>
          </div>
        </div>  
      </div>
    </div>
</div>

<div class="menu-right menu col-3">
  <div class="notification-content">
    <%= Date.today.strftime("%d %B %Y") %>
    <p><strong>Goals for today</strong></p>
  </div>
</div>
