<a style="display:block" href="http://www.teamdr.digital/events">
  <h6 class="text-center">Todays Events</h6>
  <% unless current_user.events_as_invitee.empty? %>
    <% current_user.events_as_invitee.each do |event| %>
      <div class="latest-events">
      <!-- this image tag works now! don't commet it out -->
        <div>
        <p><strong><%= event.user.full_name %></strong></p>
        <% if event.user.photo.attached? %>
          <%= cl_image_tag event.user.photo.key, width: 60, height: 60, crop: :fill, class: "avatar-middle" %>
        <% end %>
        </div>
        <div>
          <p>invited you</p>
          <p><%= event.title %> </p>
          <p><small><%= event.start_time.strftime("%H:%M")%> - <%= event.end_time.strftime("%H:%M") %> </small></p>
          <!-- <p> <%= event.content %></p> -->
        </div>
      </div>
    <% end %>
  <% else %>
    <p>I will get an invitation soon.</p>
  <% end %>
</a>
