<div class="box">
  <h1>Events</h1>

  <!-- searchbar -->
  <%= render 'searchbar' %>
  <!-- events -->
  <div class="centered-box">

    <div class="notifications-grid">
      <div class="notification">
        <% current_user.events.each do |event| %>
          <% if event.user.photo.attached? %>
            <%= cl_image_tag event.user.photo.first.key, class: "avatar-large" %>
          <% end %>
          <div class="notification-content">
            <p><small><%= event.start_time %> <%= event.end_time %></small></p>
            <p><%= event.content %></p>
          </div>

          <div class="notification-actions">
            <%= link_to "Decline", event_path(event) %>
            <%= link_to "Join", event_path(event) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="menu-right menu col-3">
  <!-- event form -->
  <div class="fieldset">
    <%= render 'new' %>
  </div>
</div>
