<div class="box col-6">
  <h1 class="text-center">Events</h1>

  <!-- events -->
  <div class="centered-box card-box">
    <h3 class="text-center">you got some invitations</h3>
      <div class="notifications-grid">
        <div class="notification">
          <% unless current_user.events_as_invitee.empty? %>
            <% current_user.events_as_invitee.each do |event| %>
            <!-- this image tag works now! don't commet it out -->
              <% if event.user.photo.attached? %>
                <%= cl_image_tag event.user.photo.key, width: 60, height: 60, crop: :fill, class: "avatar-large" %>
              <% end %>
              <div class="notification-content">
                <h6><%= event.user.full_name %></h6>
                <p><small><%= event.start_time.strftime("%H:%M")%> - <%= event.end_time.strftime("%H:%M") %> <br> <%= event.start_time.strftime("%d/%m/%Y") %> </small></p>
                <p> <%= event.title %> </p>
                <p> <%= event.content %></p>
              </div>

              <div class="notification-actions">
                <%= link_to "Decline", decline_event_path(event), method: :patch %>
                <%= link_to "Join", approve_event_path(event), method: :patch %>
                <%#= link_to "✉️",  %>
              </div>
            <% end %>
            <% else %>
              <p>I will get an invitation soon.</p>
          <% end %>
        </div>
    </div>
  </div>

  <div class="centered-box card-box">
    <h3 class="text-center">your send invitations</h3>
      <div class="notifications-grid">
        <div class="notification">
          <% unless current_user.events.empty? %>
            <% current_user.events.each do |event| %>
              <!-- this image tag works now! don't commet it out -->
              <% if event.user.photo.attached? %>
                <%= cl_image_tag event.invitee.photo.key, width: 60, height: 60, crop: :fill, class: "avatar-large" %>
              <% end %>
              <div class="notification-content">
                <h6> <%= event.invitee.full_name %></h6>
                <p><small><%= event.start_time.strftime("%H:%M")%> - <%= event.end_time.strftime("%H:%M") %> <br> <%= event.start_time.strftime("%d/%m/%Y") %> </small></p>
                <p> <%= event.title %></p>
                <p><%= event.content %></p>
              </div>
              <div class="notification-actions">
                <%= link_to "Edit", edit_event_path(event), method: :get %>
                <%= link_to "Delete", event_path(event), method: :delete %>
                <%#= link_to "✉️",  %>
              </div>
            <% end %>
            <% else %>
              <p>You didn't write an invitation yet.</p>
          <% end %>
        </div>
      </div>
  </div>
</div>
<p class="date text-" style="position: absolute"><%= Date.today.strftime("%A, %d %b %Y") %></p>
<div class="menu-right menu col-sm-3 col-xl-2">

  <h6>Invite your colleagues:</h6>
  <!-- event form -->
  <div class="box">
    <%= render 'new' %>
  </div>
</div>
