<div class="box col-6">
  <h1 class="text-center mt-3 mb-4">Events</h1>

  <!-- events -->
  <div class="centered-box card-box">
    <h3 class="text-center">Incoming invitations</h3>
    <div class="notifications-grid">
      <% unless current_user.events_as_invitee.empty? %>
        <% current_user.events_as_invitee.each do |event| %>
          <div class="notification">
          <!-- this image tag works now! don't commet it out -->
              <div class="notification-left">
                <div class="notification-info">
                  <h6><%= event.user.full_name %></h6>
                  <% if event.user.photo.attached? %>
                    <%= cl_image_tag event.user.photo.key, width: 60, height: 60, crop: :fill, class: "avatar-large" %>
                  <% end %>
                </div>
                <div>
                  <p><small><%= event.start_time.strftime("%H:%M")%> - <%= event.end_time.strftime("%H:%M") %> <%= event.start_time.strftime("%d/%m/%Y") %> </small></p>
                  <p><strong><%= event.title %></strong> </p>
                  <p> <%= event.content %></p>
                </div>
              </div>
              <div class="notification-actions">
                <%= link_to "Decline", event_path(event), method: :delete %>
                <%= link_to "Join", approve_event_path(event), method: :patch %>
                <%#= link_to "✉️",  %>
              </div>
          </div>
        <% end %>
      <% else %>

        <div class="notification">
          <p>Waiting for the first invite 📭</p>

        </div>
      <% end %>
    </div>
  </div>

  <div class="centered-box card-box">
    <h3 class="text-center">Sent invitations</h3>

      <div class="notifications-grid">
        <% unless current_user.events.empty? %>
          <% current_user.events.each do |event| %>
            <!-- this image tag works now! don't commet it out -->
            <div class="notification">
              <div class="notification-left">
                <div class="notification-info">
                  <h6> <%= event.invitee.full_name %></h6>
                  <% if event.user.photo.attached? %>
                    <%= cl_image_tag event.invitee.photo.key, width: 60, height: 60, crop: :fill, class: "avatar-large" %>
                  <% end %>
                </div>

                <div>
                  <p><small><%= event.start_time.strftime("%H:%M")%> - <%= event.end_time.strftime("%H:%M") %> <br> <%= event.start_time.strftime("%d/%m/%Y") %> </small></p>
                  <p> <strong><%= event.title %></strong></p>
                  <p><%= event.content %></p>
                </div>
              </div>
              <div class="notification-actions">
                <%#= link_to "Edit", edit_event_path(event), method: :get, type: "button", data: {container="body", toggle="popover", placement="bottom"} %>
                <%= link_to "Delete", event_path(event), method: :delete %>
                <%#= link_to "✉️",  %>
              </div>
           </div>
          <% end %>
        <% else %>
        <div class="notification">
          <p>Waiting for you to write your first invite 📬</p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="menu-right menu col-sm-3 col-xl-2">
  <div>
    <h3 class="date text- weather" style=""><%= Date.today.strftime("%A, %d %b %Y") %> <div class="text-center"> ☔️ </div> </h3>
  </div>

  <h6 class="text-center">Invite your colleagues:</h6>

  <!-- event form -->
  <div class="box">
    <%= render 'new' %>
  </div>
</div>
